* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(24, 24, 24);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

section {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: rgb(99, 99, 99);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.resulta {
  outline: none;
  border-radius: 20px;
  color: aliceblue;
  width: 100%;
  height: 80px;
  font-size: clamp(28px, 6vw, 42px);
  padding: 10px 20px;
  background-color: rgb(78, 78, 78);
  border: none;
  text-align: right;
  position: relative;
}

.resulta.visual-negativo::before {
  content: "-";
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: red;
  font-weight: bold;
  pointer-events: none;
  user-select: none;
}

.resulta:active {
  background-color: rgba(78, 78, 78, 0.733);
}

div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

button {
  flex: 1 1 22%;
  aspect-ratio: 1 / 1;
  max-width: 90px;
  border-radius: 20px;
  border: none;
  background-color: rgb(59, 59, 59);
  color: aliceblue;
  font-size: clamp(18px, 5vw, 28px);
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover {
  opacity: 0.8;
}

button:active {
  opacity: 0.6;
}
